.toolbar .btn_live {
  padding-right: 22px;
}

span.live-icon {
  display: inline-block;
  top: calc(50% - 5px);
  background-color: red;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  border: 1px solid rgba(black, 0.1);
  border-radius: 50%;
  z-index: 1;
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(red, 0.6);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: live 2s ease-in-out -1s infinite;
    z-index: -1;
  }
}
@keyframes live {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3.5, 3.5);
    background-color: rgba(red, 0);
  }
}
